@import '../bases/variaveis';
@import '../bases/base';
@import '../navbar2/navbar2';

body {
    background-color: $color-blue-bg;
}

h2 {
    margin-top: 110px !important;
    font-family: $font-rock;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgb(114, 72, 72);
}

.form {
    background-color: aliceblue;
    padding: 30px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;

    select:nth-child(2) {
        margin: 0 3px 0 3px;
    }

    .div-button {
        width: 100%;
        text-align: center;

        .btn {
            width: 200px;
        }
    }
}