
html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-white-bg;
}

//! BOTÕES //

.btn-amarelo {
    color: #fff;
    background-color: $color-yellow-light;
    border-color: var(--yellow);
    text-shadow: 1px 1px 2px rgb(102, 102, 102);
    font-weight: bolder;
    transition: 0.4s;
    width: 100px;
}

.btn-amarelo:hover  {
    color: $color-blue-dark !important;
    background-color: $color-yellow-dark;
    border-color: $color-yellow-dark;
}

.btn-amarelo.focus,
.btn-amarelo:focus{
    box-shadow: 0 0 0 .2rem $color-yellow-bd
}


.btn-amarelo:not(:disabled):not(.disabled).active,
.btn-amarelo:not(:disabled):not(.disabled):active,
.show>.btn-amarelo.dropdown-toggle {
    color: $color-blue-dark;
    background-color: $color-yellow-light;
    border-color: $color-yellow-light;
}

.btn-amarelo:not(:disabled):not(.disabled).active:focus,
.btn-amarelo:not(:disabled):not(.disabled):active:focus,
.show>.btn-amarelo.dropdown-toggle:focus{
    color: white;
    box-shadow: 0 0 0 .2rem $color-yellow-light;
}

.btn-outline-amarelo {
    font-weight: bold;
    color: $color-yellow-light;
    border-color: $color-yellow-light;
    transition: 0.4s;
}

.btn-outline-amarelo:hover {
    color: $color-blue-dark;
    background-color: $color-yellow-light;
    border-color: $color-yellow-light;
}

.btn-outline-amarelo.focus,
.btn-outline-amarelo:focus{
    box-shadow: 0 0 0 .2rem $color-yellow-bd
}

.btn-outline-amarelo.disabled,
.btn-outline-amarelo:disabled{
    color: $color-yellow-light;
    background-color: transparent
}

.btn-outline-amarelo:not(:disabled):not(.disabled).active,
.btn-outline-amarelo:not(:disabled):not(.disabled):active,
.show>.btn-outline-amarelo.dropdown-toggle{
    color: $color-white;
    background-color: $color-yellow-light;
    border-color: $color-yellow-light
}

.btn-outline-amarelo:not(:disabled):not(.disabled).active:focus,
.btn-outline-amarelo:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-amarelo.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem $color-yellow-light
}

//! CHECKBOX //

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: $color-yellow-light;
    border-color: $color-yellow-dark;
    box-shadow: 0 0 3px $color-yellow-dark;
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    border-color: $color-yellow-dark;
    box-shadow: 0 0 3px $color-yellow-dark;
}

.custom-checkbox .custom-control-input:active~.custom-control-label::before {
    border-color: $color-yellow-dark;
    box-shadow: 0 0 3px $color-yellow-dark;
    background: $color-yellow-light;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0.25rem;
}

.custom-control-label::before {
    background-color: $color-white-bg;
}

//! FORMULARIO //

.form-control:focus {
    background-color: white;
    border-color: rgb(228, 209, 104);
    outline: 0;
    box-shadow: 0 0 0 .2rem rgb(233, 233, 175);
}