$color-white-bg: #f7f7f7;
$color-blue-bg: #ccdbe7;
$color-white: #dbd5d5;
$color-yellow-light: #e4ab25;
$color-yellow-dark: #c78d07;
$color-yellow-bd: rgba(179, 154, 18, 0.5);
$color-blue-light: #013152;
$color-blue-dark: #091a30;

$font-caveat: 'Caveat', cursive;
$font-rock: 'Rock Salt', cursive;
$font-indie: 'Indie Flower', cursive;
$font-josefin: 'Josefin Sans', sans-serif;
$font-mochiy: 'Mochiy Pop P One', sans-serif;
$font-orbitron: 'Orbitron', sans-serif;
