/*! NAVBAR */

nav {
    height: 80px;
    background-color: #091a30;
}

.nav-link {
    color: #e0e0e0 !important;
    font-size: 1rem;
}

.nav-link:hover {
    color: #e4ab25 !important;
    transition: 0.4s;
}

.ativo {
    border-bottom: #e4ab25 solid 2px;
}

.logo-nav#logo-nav {
    border: none;
    transition: 0.4s;
}

.navbar-collapse {
    margin: 0;
}

.logo-nav {
    width: 130px;
}

.btn-hamburguer {
    background-color: #ffc135;
}

.collapse,
.navbar-collapse {
    padding: 0;
    margin: 0;
    background-color: #091a30;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(2, 49, 80)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*! INÍCIO */

.inicio {
    padding-top: 110px;
    width: 100%;
    height: 90%;
    background: rgb(9, 26, 48);
    background: linear-gradient(180deg, rgba(9, 26, 48, 1) 51%, rgba(3, 68, 112, 1) 100%);
}

.logo {
    width: 400px;
}

h3 {
    font-size: 2.5rem;
    color: #f7f7f7;
    animation: fadein 3s;
}

.carousel {
    max-width: 1500px;
}


/*! SURGIMENTO */

.surgimento {
    padding-top: 90px;
}

.div-surgimento h4 {
    font-size: 3rem;
}

.div-ideia {
    max-width: 1200px;
}

.yellow-bar {
    background-color: #e4ab25;
    width: 320px;
    height: 10px;
    animation: aumentar-yellow-bar 2s;
}

@keyframes aumentar-yellow-bar {
    from {
        width: 0px;
        ;
    }
    to {
        width: 320px;
        ;
    }
}

.div-surgimento p {
    text-indent: 2em;
    font-size: 1.2rem;
}

.img-ideia {
    width: 30%;
    max-width: 300px;
}

.video {
    max-width: 800px;
}


/*! PLATAFORMA */

.white-bar {
    background-color: #f7f7f7;
    width: 300px;
    height: 5px;
}

.plataforma {
    background-color: #013152;
    padding-top: 90px;
    padding-bottom: 40px;
}

.plataforma h4 {
    color: #f7f7f7;
    font-size: 3.8rem;
}

.card-plat {
    top: 5px;
    background-color: rgb(0, 0, 20, 0.2);
    transition: 0.3s;
}

.card-plat:hover {
    top: 0;
    background-color: rgb(0, 0, 20, 0.4)
}

.card-texto {
    color: #f7f7f7;
}

.img-card {
    width: 30%;
}


/*! CONTEÚDO */

.conteudo {
    background-color: #f7f7f7;
    padding-top: 90px;
    padding-bottom: 40px;
}

.conteudo h4 {
    color: #091a30;
    font-size: 3.8rem;
}

.blue-bar {
    background-color: #091a30;
    width: 120px;
    height: 5px;
}

.card-cont {
    font-weight: bold;
    max-width: 250px;
    /* transition: 0.3s; */
}

html.sr .card-cont {
    visibility: hidden;
}

.card-cont:hover {
    /* background-color: #e6cb58; */
    background-color: rgb(240, 240, 240);
    border: 2px solid #e6cb58;
    border-radius: 5px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
}

.img-card-um,
.img-card-tres,
.img-card-sete {
    width: 40%;
    max-width: 130px;
}

.img-card-dois {
    width: 48%;
    max-width: 130px;
}

.img-card-quatro,
.img-card-cinco,
.img-card-seis,
.img-card-oito {
    width: 37%;
    max-width: 130px;
}


/*! CONTATO */

.contato {
    padding-top: 90px;
    background-color: #04426b;
    background: linear-gradient(180deg, rgba(3, 68, 112, 1) 0%, rgba(9, 26, 48, 1) 74%);
}

.contato h4 {
    color: #e4ab25;
    font-size: 3.8rem;
}

.contato p {
    color: #f7f7f7;
    font-size: 1.4rem;
}


/*! FORMULÁRIO */

.div-contato {
    max-width: 600px;
}

.formulario {
    max-width: 800px;
    font-size: 18px;
}

.form-row label {
    color: aliceblue;
}

.btn-primary {
    color: #fff;
    background-color: var(--yellow);
    border-color: var(--yellow);
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgb(102, 102, 102);
    width: 100px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d8aa1f;
    border-color: #d8aa1f;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(138, 120, 21, 0.5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #d8aa1f;
    border-color: #d8aa1f;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #d8aa1f;
    border-color: #d8aa1f;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem var(--yellow);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ffc107;
    border-color: #d8aa1f;
    box-shadow: 0 0 3px #d8aa1f;
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    border-color: #d8aa1f;
    box-shadow: 0 0 3px #d8aa1f;
}

.custom-checkbox .custom-control-input:active~.custom-control-label::before {
    border-color: #d8aa1f;
    box-shadow: 0 0 3px #d8aa1f;
    background: rgba(212, 184, 26);
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0.25rem;
}

.custom-control-label::before {
    background-color: #ccc;
}

.formulario a {
    color: var(--yellow)
}

.formulario a:hover {
    color: #d8aa1f;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #d8aa1f;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(240, 206, 13, 0.5);
}

#email,
#nome {
    max-width: 400px;
}

.btn-enviar {
    width: 200px;
}


/*! RODAPÉ */

.rodape {
    color: #f7f7f7;
    height: auto;
    background-color: rgba(9, 26, 48, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
}

.rodape p {
    padding-left: 15px;
    font-size: 15px !important;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.politica {
    color: #d8aa1f;
    font-weight: bold;
}

.politica:hover {
    color: #d8aa1f;
    font-weight: bold;
}

.div-social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-social p {
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 0;
}

.fa-facebook-square,
.fa-instagram,
.fa-linkedin,
.fa-twitter,
.fa-youtube-play {
    color: white !important;
    padding: 0 10px 0 1.1rem;
    transition: 0.3s;
}

.fa-github {
    padding-left: 0;
}

.fa-whatsapp {
    padding-right: 0;
}

.fa-youtube-play:hover,
.fa-facebook-square:hover,
.fa-instagram:hover,
.fa-linkedin:hover,
.fa-twitter:hover {
    color: #d8aa1f !important;
    transition: 0.3s;
}


/*! BTN TOP */

.btn-top {
    background-color: #e4ab25;
    border-radius: 50%;
    animation: fadein 1s;
    z-index: 99999;
}

.btn-top:active {
    border-color: var(--yellow) !important
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}