$color-white-bg: #f7f7f7;
$color-white: #e0e0e0;
$color-yellow-light: #e4ab25;
$color-yellow-dark: #c78d07;
$color-yellow-bd: rgba(179, 154, 18, 0.5);
$color-blue-light: #013152;
$color-blue-dark: #091a30;
